@charset "utf-8";

@font-face { /* 나눔스퀘어 ExtraBold */
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../font/NanumSquareEB.eot); /* IE9*/
 src: url(../font/NanumSquareEB.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
      url(../font/NanumSquareEB.woff) format('woff'), /* chrome、firefox */
      url(../font/NanumSquareEB.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face { /* 나눔스퀘어 Bold */
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../font/NanumSquareB.eot); /* IE9*/
 src: url(../font/NanumSquareB.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
      url(../font/NanumSquareB.woff) format('woff'), /* chrome、firefox */
      url(../font/NanumSquareB.ttf) format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face { /* 나눔스퀘어 Regular */
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../font/NanumSquareR.eot);
 src: url(../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquareR.woff) format('woff'),
      url(../font/NanumSquareR.ttf) format('truetype');
}


@font-face { /* 나눔고딕 Regular */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumGothic-Regular.eot);
  src: url(../font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-Regular.woff2) format('woff2'),
       url(../font/NanumGothic-Regular.woff) format('woff'),
       url(../font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face { /* 나눔고딕 Bold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../font/NanumGothic-Bold.eot);
  src: url(../font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-Bold.woff2) format('woff2'),
       url(../font/NanumGothic-Bold.woff) format('woff'),
       url(../font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face { /* 나눔고딕 ExtraBold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../font/NanumGothic-ExtraBold.eot);
  src: url(../font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(../font/NanumGothic-ExtraBold.woff) format('woff'),
       url(../font/NanumGothic-ExtraBold.ttf) format('truetype');
}
